<div class="container-fluid heroContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 heroMain">
                <h1>Get A Tretinoin <br>
                    Prescription Online</h1>
                <h6>It can do it all -- clinically proven to treat acne, smooth fine lines, & diminish hyperpigmentation.</h6>

                <ul style="margin-top: 24px;">
                    <li>
                        <img src="medal.png"> US-licensed healthcare providers
                    </li>
                    <li>
                        <img src="user.png"> Dermatologist-designed program
                    </li>
                    <li>
                        <img src="box.png"> Free shipping
                    </li>
                    <li>
                        <img src="calendar.png"> Shipped monthly. Billed quarterly.
                    </li>
                </ul>

                <button class="primary-button">Start Your Treatment <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #788D9E; padding: 0;">
    <!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="box-white.png"> Free shipping & automatic refills</div>
      <div class="swiper-slide"><img src="message.png"> Unlimited messaging with providers</div>
      <div class="swiper-slide"><img src="clock.png"> 24/7 access to care</div>
      <div class="swiper-slide"><img src="rx-white.png"> Clinically proven medications and tests prescribed online</div>
      <div class="swiper-slide"><img src="box-white.png"> Free shipping & automatic refills</div>
      <div class="swiper-slide"><img src="message.png"> Unlimited messaging with providers</div>
      <div class="swiper-slide"><img src="clock.png"> 24/7 access to care</div>
      <div class="swiper-slide"><img src="rx-white.png"> Clinically proven medications and tests prescribed online</div>
    </div>
  </div>
</div>