

<div class="container-fluid quiz-section">
    <div class="container">
        <div class="row">
            <div class="col-12 quiz-column">
                <h1 style="margin-bottom: 24px;">Feel Your Best Self Again</h1>
                <h5 style="margin-bottom: 32px; text-align: center;">Start your intake, and get a custom treatment plan as soon as 2 days.</h5>
                <button routerLink="/quiz" class="primary-button"><h5 style="color: white; margin-bottom: 0;">Take The Quiz <i style="margin-left: 8px;" class="fa-solid fa-arrow-right"></i></h5></button>
            </div>
        </div>
    </div>
</div>