<div class="container-fluid footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="logo-white.png">
                <p class="about-p">At Society, we put your health first with care that's personal and built for you. From acne to anti-aging, weight loss, hair loss, and mental health, we're here to support every step of your journey. Society is for everyone—because when you feel your best, you can do your best. For the people, and for you.</p>

                <form>
                    <input class="footer-email" type="email" required placeholder="Enter your email">
                </form>
            </div>
            <div class="col-md-2 col-sm-3 col-6 col-right">
                <div class="footer-link-grp">
                    <h5 routerLink="/services">Services</h5>
                    <a routerLink="/services/dermatology">Dermatology</a>
                    <a href="#">Hair Loss</a>
                    <a href="#">Weight Loss</a>
                    <a href="#">ED & PE</a>
                    <a href="#">Mental Health</a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-6 col-right">
                <div class="footer-link-grp">
                    <h5 routerLink="/about">About</h5>
                    <a routerLink="/about" [fragment]="'doctors'">Our Doctors</a>
                    <a href="#">Society</a>
                    <a href="#">Medical Credibility</a>
                    <a href="#">Compliance</a>
                    <a href="#">Our Customers</a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-6 col-left">
                <div class="footer-link-grp">
                    <h5>Resource</h5>
                    <a href="#">Blog</a>
                    <a href="#">Pricing</a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-6 col-left">
                <div class="footer-link-grp">
                    <h5>Contact Us</h5>
                    <a href="#">Help Center</a>
                    <a routerLink="/faq" href="#">FAQ</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="copyright-row">
                <div>
                    <p>© 2024 Society, Inc. All rights reserved  |  <a href="#">Privacy Policy</a>  |  <a href="#">Terms & Conditions</a></p>
                </div>
                <div class="icons">
                    <a href="#"><img src="amazon.png"></a>
                    <a href="#"><img src="tiktok.png"></a>
                    <a href="#"><img src="instagram.png"></a>
                    <a href="#"><img src="facebook.png"></a>
                    <a href="#"><img src="youtube.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>