<div class="container-fluid curology-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Get your skin in check</h4>
                <p class="curology-p">Society connects you with top-tier skincare professionals and trusted, doctor-approved treatments, ensuring your skin looks and feels its best.</p>

                <ul style="margin-top: 24px;">
                    <li>
                        <img src="medal.png"> Dermatologist-tested
                    </li>
                    <li>
                        <img src="user.png"> Personalized treatment
                    </li>
                    <li>
                        <img src="star.png"> Confidence in your hair and skin
                    </li>
                    <li>
                        <img src="support.png"> Dedicated Care
                    </li>
                </ul>

                <button class="primary-button">Get Started <i style="margin-left: 8px;" class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>