<div class="container-fluid verbose-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-12 order-1">
                <h1 style="margin-top: 24px;">Dermatology</h1>
                <p>Get specialized care for your skin, addressing concerns like acne, anti-aging, and more with treatments designed specifically for your needs, so you can feel confident in your own skin.</p>
                <p><i class="fa-solid fa-arrow-right"></i> Acne</p>
                <button class="primary-button">Get Started <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="col-md-6 order-md-1 order-12">
                <img src="dermatology-main.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="hairloss-main.png">
            </div>
            <div class="col-md-6">
                <h1 style="margin-top: 24px;">Hair Loss</h1>
                <p>Our expert hair loss treatments provide targeted solutions to restore and rejuvenate thinning hair, helping you regain strength, volume, and confidence through scientifically-backed approaches.</p>
                <p><i class="fa-solid fa-arrow-right"></i> Topical</p>
                <button class="primary-button">Get Started <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 order-md-12 order-1">
                <h1 style="margin-top: 24px;">Weight Loss</h1>
                <p>Achieve your weight goals with personalized strategies that focus on your lifestyle, health, and habits. Our medically supervised plans help you manage weight effectively and sustainably.</p>
                <p><i class="fa-solid fa-arrow-right"></i> Semaglutide</p>
                <button class="primary-button">Get Started <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="col-md-6 order-md-1 order-12">
                <img src="weightloss-main.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="edpe-main.png">
            </div>
            <div class="col-md-6">
                <h1 style="margin-top: 24px;">ED & PE</h1>
                <p>Effective, clinically-tested treatments for erectile dysfunction and premature ejaculation, designed to improve your sexual health and confidence in a discreet and comfortable manner.</p>
                <p><i class="fa-solid fa-arrow-right"></i> Oral</p>
                <button class="primary-button">Get Started <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 order-md-12 order-1">
                <h1 style="margin-top: 24px;">Mental Health</h1>
                <p>Receive the support you need for anxiety, depression, and other mental health challenges through comprehensive, personalized treatment plans that prioritize your emotional well-being and balance.</p>
                <p><i class="fa-solid fa-arrow-right"></i> Semaglutide</p>
                <button class="primary-button">Get Started <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="col-md-6 order-md-1 order-12">
                <img src="mental-main.png">
            </div>
        </div>

    </div>
</div>