<div class="container-fluid">
    <div class="container">
        <div class="row mainRow">
            <div class="col-md-6">
                <img class="mainPic" src="whatis.png">
            </div>
            <div class="col-md-6 contentColumn">
                <h1>What Is Tretinoin Used For?</h1>

                <div class="paragraph" style="margin-top: 36px;">
                    <i class="fa-regular fa-circle-check"></i>
                    <div class="paragraphContent">
                        <h3>Acne Control</h3>
                        <p>Tretinoin helps clear existing acne and prevent future breakouts by promoting healthy skin cell turnover, unclogging pores, and reducing inflammation for a clearer, smoother complexion.</p>
                    </div>
                </div>

                <div class="paragraph" style="margin-top: 12px;">
                    <i class="fa-regular fa-circle-check"></i>
                    <div class="paragraphContent">
                        <h3>Anti-Aging</h3>
                        <p>By stimulating collagen production, tretinoin visibly smooths fine lines and wrinkles, helping to restore youthful skin texture and elasticity for a more radiant, age-defying appearance.</p>
                    </div>
                </div>

                <div class="paragraph" style="margin-top: 12px;">
                    <i class="fa-regular fa-circle-check"></i>
                    <div class="paragraphContent">
                        <h3>Hyperpigmentation + Skin Tone</h3>
                        <p>Tretinoin targets hyperpigmentation, dark spots, and sun damage, helping to fade discoloration and reveal a more even, glowing complexion that looks healthier and revitalized.</p>
                    </div>
                </div>

                <div class="paragraph" style="margin-top: 12px;">
                    <i class="fa-regular fa-circle-check"></i>
                    <div class="paragraphContent">
                        <h3>Skin Texture</h3>
                        <p>By accelerating the shedding of dead skin cells, tretinoin enhances skin’s surface texture, leaving it feeling smoother, softer, and more refined, with a noticeable reduction in rough patches and dryness.</p>
                    </div>
                </div>

                <div class="buttonDiv">
                    <button class="primary-button">Get It Now <i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>