<div class="container-fluid howitworks" [class.whiten]="whiten">
    <div class="container">
        <div class="row">
            <h1 style="margin-bottom: 48px;">How It Works</h1>

            <div class="col-12">
                <div class="howitworks-layout">
                    <div class="step-specific">
                        <div class="step-layout">
                            <div class="step"><h5>1</h5></div>
                            <h5>Tell us about you</h5>
                        </div>
                        <p>Select your medication or ask our medical team for guidance.</p>
                    </div>
                    <div class="step-specific">
                        <div class="step-layout">
                            <div class="step"><h5>2</h5></div>
                            <h5>Connect with your Society provider</h5>
                        </div>
                        <p>Start our quick & informational consultation: share medical history + current health goals + photos for our medical team to review. This is for us to keep progress!</p>
                    </div>
                    <div class="step-specific">
                        <div class="step-layout">
                            <div class="step"><h5>3</h5></div>
                            <h5>We prescribe your customized plan</h5>
                        </div>
                        <p>A Society provider in your state will write your prescription based on your Personal needs & Health profile</p>
                    </div>
                    <div class="step-specific">
                        <div class="step-layout">
                            <div class="step-last"><h5>4</h5></div>
                            <h5>Receive your treatment at your doorstep</h5>
                        </div>
                        <p>We'll deliver your society medication to you so you can reach your health & wellness goals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>