<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 headerLayout">
                <div></div>

                <div>
                    <img routerLink="/" src="logo.png" class="logo">
                </div>

                <div>
                    <div class="buttons">
                        <button routerLink="/" class="closeBtn"><i class="fa-solid fa-x"></i><p>Close</p></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>