<div class="container-fluid whyus-section">
    <div class="container">
        <div class="row">
            <div class="heading-btn" style="margin-bottom: 40px;">
                <h1>What Makes Us Different?</h1>
                <button class="primary-button">Get Started</button>
            </div>
            <div class="col-md-6" style="margin-bottom: 16px;">
                <div class="primary-features">
                    <h2 style="margin-bottom: 32px;">Society</h2>
                    <div class="whyus-p">
                        <i class="fa-regular fa-circle-check"></i> <p>Customized prescription plans for your skin</p>
                    </div>
                    <div class="whyus-p">
                        <i class="fa-regular fa-circle-check"></i> <p>Treatments designed with your unique needs in mind</p>
                    </div>
                    <div class="whyus-p">
                        <i class="fa-regular fa-circle-check"></i> <p>Access to expert medical guidance</p>
                    </div>
                    <div class="whyus-p">
                        <i class="fa-regular fa-circle-check"></i> <p>Flexible adjustments based on your progress</p>
                    </div>
                </div>    
            </div>
            <div class="col-md-6" style="margin-bottom: 16px;">
                <div class="secondary-features">   
                    <h2 style="margin-bottom: 32px;">Off The Shelf</h2>
                    <div class="whyus-p">
                        <i class="fa-regular fa-circle-xmark"></i> <p>Standard store-bought products that don't consider your unique skin needs</p>
                    </div>
                    <div class="whyus-p">
                        <i class="fa-regular fa-circle-xmark"></i> <p>No access to prescription ingredients</p>
                    </div>
                    <div class="whyus-p">
                        <i class="fa-regular fa-circle-xmark"></i> <p>No professional insight</p>
                    </div>
                    <div class="whyus-p">
                        <i class="fa-regular fa-circle-xmark"></i> <p>Cycle of buying and testing</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>