<div class="container-fluid footer-section">
    <div class="container">
        <div class="row">
            <hr class="splitter">
        </div>

        <div class="row">
            <div class="col-12">
                <div class="links-flex">
                    <a routerLink="/about" >About Society</a>
                    <a routerLink="/services/dermatology">Dermatology</a>
                    <a href="#">Hair loss</a>
                    <a href="#">Weight loss</a>
                    <a href="#">ED & PE</a>
                    <a href="#">Mental health</a>
                    <a routerLink="/about" [fragment]="'doctors'">Our doctors</a>
                    <a href="#">Our customers</a>
                    <a href="#">How it works</a>
                    <a href="#">Medical credibility</a>
                    <a href="#">Disclaimers</a>
                    <a href="#">Insightful articles</a>
                    <a href="#">Pricing</a>
                    <a routerLink="/faq">FAQs</a>
                </div>
            </div>
        </div>
    </div>
</div>