<div class="container-fluid about-section">
    <div class="container">
        <div class="row">
            <div class="col-12 about-title">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid about-services">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Society Was Founded With The Vision Of Promoting Holistic Health And Well-Being.
                </h2>
            </div>
            <div class="col-md-6 paragraphs">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet.
                </p>
                <p>
                    Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 sliders">
                <div class="swiper" id="derma">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <img src="dermatology.png">
                        <h5>Dermatology</h5>
                        <p>Expert skin care for all your unique concerns.</p>
                        <a routerLink="/services/dermatology">Learn more</a>
                      </div>
                      <div class="swiper-slide">
                        <img src="hairloss.png">
                        <h5>Hair loss</h5>
                        <p>Solutions to help restore and strengthen your hair.</p>
                        <a href="#">Learn more</a>
                      </div>
                      <div class="swiper-slide">
                        <img src="weightloss.png">
                        <h5>Weight Loss</h5>
                        <p>Personalized plans for sustainable weight management.</p>
                        <a href="#">Learn more</a>
                      </div>
                      <div class="swiper-slide">
                        <img src="edpe.png">
                        <h5>ED & PE</h5>
                        <p>Effective treatment for your sexual health needs.</p>
                        <a href="#">Learn more</a>
                      </div>
                      <div class="swiper-slide">
                        <img src="mental.png">
                        <h5>Mental Health</h5>
                        <p>Support for anxiety, depression, and emotional wellness.</p>
                        <a href="#">Learn more</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="cta-line">
                <button routerLink="/quiz" class="primary-button">Take The Quiz <i style="margin-left: 8px;" class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>