<app-product></app-product>

<app-real-users></app-real-users>

<app-reviews [reviews]="productsReviews" [whiten]="true" reviewsTitle="Expert Healthcare, Proven Results"></app-reviews>

<app-review-list></app-review-list>

<div class="container-fluid complete-section">
    <div class="container">
        <div class="row">
            <app-product-slider [productsTitle]="completeInfo" [products]="completeProducts" [wider]="true" buttonLabel="See More"></app-product-slider>
        </div>
    </div>
</div>



