<div class="container-fluid review-list-section" #reviewList id="reviewList">
    <div class="container">
        <h1>Reviews</h1>
        <div class="row review-row" style="padding-bottom: 24px;">
            <div class="col-md-3">
                <div class="user-field">
                    <img style="margin-right: 16px;" src="user-1.png">
                    <div>
                        <p class="user-name">Kathy Pacheco</p>
                        <p class="stars"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></p>
                        <p class="review-date">Oct 19, 2024 8:57 pm</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <p class="review-title">Such a dramatic difference in just 2 weeks!</p>
                <p class="review-description">I've had melasma for about 5 years. I've tried a variety of products claiming to fade dark spots etc. and spent alot of money at the dermatologist. Nothing really ever worked. I came across Musely, read the product info read through the reviews and said screw it. What's it going to hurt. I'll never know unless I try it. I am so grateful and ecstatic with the results! 41 days after using the Spot cream and the spots on my cheeks are pretty much gone. My stache is still there but slowly fading. I also noticed my pores have diminished as well. It's crazy!</p>
                <div class="review-images">
                    <img src="review-1.png">
                    <img src="review-2.png">
                    <img src="review-3.png">
                </div>
                
            </div>
        </div>

        <div class="row review-row">
            <div class="col-md-3">
                <div class="user-field">
                    <img style="margin-right: 16px;" src="user-2.png">
                    <div>
                        <p class="user-name">Kenneth Allen</p>
                        <p class="stars"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></p>
                        <p class="review-date">Oct 13, 2024 11:15 am</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <p class="review-title">Such a dramatic difference in just 2 weeks!</p>
                <p class="review-description">This acne cream has been a game-changer for my skin. Within a week, I noticed reduced inflammation and fewer breakouts. It's lightweight, absorbs quickly, and doesn't leave my skin feeling greasy. My skin looks clearer and healthier with continued use. Definitely a staple in my skincare routine!</p>
                
            </div>
        </div>

        <div class="row review-row">
            <div class="col-md-3">
                <div class="user-field">
                    <img style="margin-right: 16px;" src="user-3.png">
                    <div>
                        <p class="user-name">Lorri Warf</p>
                        <p class="stars"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></p>
                        <p class="review-date">Oct 7, 2024 10:48 am</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <p class="review-title">Such a dramatic difference in just 2 weeks!</p>
                <p class="review-description">I've tried so many products, and this one finally worked! My acne is visibly reduced, and the redness has calmed down significantly. The formula is gentle enough for everyday use, and I love that it's non-drying. Highly recommend for anyone struggling with stubborn acne.</p>
                
            </div>
        </div>

        <div class="row review-row">
            <div class="col-md-3">
                <div class="user-field">
                    <img style="margin-right: 16px;" src="user-4.png">
                    <div>
                        <p class="user-name">Frances Swann</p>
                        <p class="stars"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></p>
                        <p class="review-date">Sep 30, 2024 7:01 pm</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <p class="review-title">Such a dramatic difference in just 2 weeks!</p>
                <p class="review-description">I've tried so many products, and this one finally worked! My acne is visibly reduced, and the redness has calmed down significantly. The formula is gentle enough for everyday use, and I love that it's non-drying. Highly recommend for anyone struggling with stubborn acne.</p>
                
            </div>
        </div>

        <div class="row">
            <div class="col-12" class="buttons">
                <button class="primary-button" disabled><i class="fa-solid fa-angle-left"></i></button>
                <button class="primary-button"><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</div>