<div class="container-fluid all-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="all-title"><span>Your Best Self,</span> <br>
                    Delivered To Your Doorstep</h1>
            </div>
            <div class="col-md-6">
                <p>Expert dermatology, hair loss, weight loss, ED & PE treatments, and mental health support—tailored solutions to enhance your well-being.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="medal.png"> <p>Dermatologist-tested</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="user.png"> <p>Confidence in your hair and skin</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="star.png"> <p>Personalized treatment</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="support.png"> <p>Dedicated Care</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid service-list">
    <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="dermatology.png">
        <h5>Dermatology</h5>
        <p>Expert skin care for all your unique concerns.</p>
        <a routerLink="/services/dermatology">Learn more</a>
      </div>
      <div class="swiper-slide">
        <img src="hairloss.png">
        <h5>Hair loss</h5>
        <p>Solutions to help restore and strengthen your hair.</p>
        <a href="#">Learn more</a>
      </div>
      <div class="swiper-slide">
        <img src="weightloss.png">
        <h5>Weight Loss</h5>
        <p>Personalized plans for sustainable weight management.</p>
        <a href="#">Learn more</a>
      </div>
      <div class="swiper-slide">
        <img src="edpe.png">
        <h5>ED & PE</h5>
        <p>Effective treatment for your sexual health needs.</p>
        <a href="#">Learn more</a>
      </div>
      <div class="swiper-slide">
        <img src="mental.png">
        <h5>Mental Health</h5>
        <p>Support for anxiety, depression, and emotional wellness.</p>
        <a href="#">Learn more</a>
      </div>
    </div>
  </div>

  <div class="cta-line">
    <button routerLink="/quiz" class="secondary-button"> Take The Quiz <i style="margin-left: 8px;" class="fa-solid fa-arrow-right"></i></button>
  </div>

</div>